body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow-x: hidden*/
}

*, *::before, *::after {
    box-sizing: border-box;
  }

p{
    font-family: "Josefin Sans", sans-serif;
    text-align: justify;}

.header{
    display: grid;
    grid-template-columns: 350px 950px;
    position:fixed;
    top:0;
    left:8px;
    height:80px;
    box-sizing: border-box;
    border-bottom: 1px dashed rgba(78, 78, 187, 0.5);
    color: rgb(78, 78, 187);
    background-color: white;
    /*background-color: rgba(255, 0, 0, 0.1);*/
    z-index: 100;}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(78, 78, 187);}

.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 33px;} 

    @media (max-width: 450px){
        .header{
            width: 100vw;
            left:0;
            padding:0;
            margin-top: 12px;
            margin-left: 0;
            margin-right: 0;
            display: block;
            text-align: center;
            position: relative;} 
        
        .name, .title{
            display: flex;
            justify-content: center;
            align-items: center;
            border-right:none;
            margin-left: 0;
            width: 100vw;}

        .title{
            margin-top: 12px;} }

.title_header{
    font-size: 26px;
    font-weight: bold;
    line-height: 24px;
    margin:0;
    padding:0;}

.profilepic{
    max-width:100%; 
    max-height:100%; 
    object-fit: contain; 
    border-radius: 50%;
    margin-top: 23px;}

    @media (max-width: 450px) {
        .profilepic{
            max-width: 70%;
            max-height: 70%;
            margin-top: 23px;} }

.main{
    display: grid;
    grid-template-columns: 350px 950px;
    padding-bottom: 500px;
    box-sizing: border-box;}

    @media (max-width: 450px) {
        .main{
            grid-template-columns: 1fr;
            width:100%;
            padding-left: 15px;
            padding-right: 20px;} }

.sidebar {
    width: 350px; 
    position:fixed;
    left:8px;
    top:80px;
    display:flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    box-sizing: border-box;
    border-right:1px solid rgb(78, 78, 187);
    /*max-height: 100vh;*/ 
    overflow-y: auto;
    background-color: white;
    z-index: 100;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 200px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE & Edge */}

    @media (max-width: 450px) {
        .sidebar{
            width:100%;
            top: 0;
            left: 0;
            position: relative;
            border-right: none;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10px;
            margin-bottom: -10px;
            border-bottom: 1px dashed rgb(78, 78, 187);} }

.sidebar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */}

.projects{
    width:900px; 
    margin-left:390px; 
    margin-top: 80px;}

    @media (max-width: 450px) {
        .projects{
            width:100%;
            margin-left: 0;
            margin-top: 20px;}
        
        .projects div{
            width:100%;} }

.project_title{
    font-size: 26px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 8px;}

.link{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-right: 40px;
    margin-bottom: 20px;}    

.description{
    font-size: 14px;
    color: rgb(96,96,96);
    line-height: 18px;
    margin-bottom: 20px;}

.imagerow, .final_imagerow{
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 900px;
    gap: 30px;
    box-sizing: border-box;}

.imagerow img, .imagerow div{
    width: 48%;}

.pairplot{
    width:54%; 
    height: auto;}

.flowchart_duck{
    width: 43%;}

    @media (max-width: 450px) {
        .imagerow, .final_imagerow {
            flex-direction: column;
            gap: 30px;
            width: 100%;}
    
        .imagerow img {
            width: 100% !important;
            height: auto;}
        
        .pairplot, .flowchart_duck{
            width: 97%;
            height: auto;
        } }

a{
    color: rgb(78, 78, 187)
}

a:hover{
    color: rgb(23, 185, 147);
    font-weight: bold;
    transition: 0.1s;}
